<div class="panel panel-primary">
  <div class="panel-heading"><h2>Former pairings</h2>
  </div>
  <div class="panel-body">

    <% @matches.each do |match| %>
      <p>
        <%= match.user.name %> was paired with <%= match.matched_user%> on <%= match.date.to_date%>
      </p>
    <% end %>
    <p> Today's Match: </p>
    <% @match.each do |match| %>
      <% if match.date = Date.today %>
        <%= match.matched_user %>
      <% else %>
        <%= current_user.name %>
      <% end %>
    <% end %>

  </div>
