<div class="jumbotron text-center">
  <h1> Hello <%= current_user.name %> !</h1>
</div>
<div class='col-md-4'>
  <ul class='list-group'>
    <li class='list-group-item justify-content-between active text-center'>
        Pair history
    </li>

    <% @matches.each do |match| %>
      <% if match.date < Date.today && current_user == match.user %>

    <li class='list-group-item justify-content-between'>
        You were paired with <%= match.matched_user%> on <%= match.date.to_date%>
    </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class='col-md-4'>
  <h3> Today's Match: </h3>
    <% @match.each do |match| %>
      <% if match.date == Date.today && current_user == match.user %>
        <%= match.matched_user %>
      <% end %>
    <% end %>
</div>

<div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete,  class: " btn btn-default"%>
</div>
